/* Ajustes para telas menores que 1024px */
@media (max-width: 1024px) {
    .navbar {
        font-size: 18px;
        padding: 8px 16px;
    }

    .presentation {
        padding: 10em;
        font-size: 20px;
        height: 70vh;
    }
    
    .eu {
        width: 30%;
    }
    
    .nome {
        font-size: 60px;
    }

    .projetos img {
        width: 70%;
        margin-left: 0;
    }
}


@media (max-width: 428px) {
    .navbar {
        font-size: 18px;
        padding: 8px 16px;
    }

    .presentation {
        padding: 10em;
        font-size: 20px;
        height: 70vh;
    }
    
    .eu {
        width: 30%;
    }
    
    .nome {
        font-size: 60px;
    }

    .projetos img {
        width: 70%;
        margin-left: 0;
    }
}

@media (max-width: 600px) {

    .icon-init {
        width: 10%;
        height: 10%;
    }

    h5 {
        font-size: 15px;
        font-weight: bold;
    }

    .navbar {
        display: none;
    }

    .composition {
        font-family: 'Roboto', sans-serif;
    }
    .projetos h4{
        font-size: 20px;
        font-weight: bold;
    }
    .navbar {
        font-size: 15px;
    }

    .download {
        padding: 8px 12px;
        font-size: 14px;
    }

    .presentation {
        padding: 4em; 
        font-size: 15px; 
        height: 20vh; 
    }
    
    .texto {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 70%;
    }

    .nome {
        font-size: 50px;
        margin: 5px 0px; 
        font-size: 20px;
    }

    .sobre__mim, .projetos, .contato {
        padding: 2em; 
        margin-top: 1px;
        font-size: 15px; 
        line-height: 1.5;
        max-width: 100%;

    }

    .musica-favorita {
        padding: 2em; 
    }

    .projetos img {
        width: 80%; 
        margin-left: 25px;
    }

    .contato {
        height: 40vh;
    }
    .contact-icons {
        flex-direction: row; 
        gap: 10px; 
        justify-content: center;
        margin-bottom: 5em;
    }

    .download {
        padding: 8px 12px; 
        font-size: 12px;
        right: 10px;
        bottom: 50px;
    }

    footer {
        padding: 5em;
    }
}

@media (max-width: 300px) {

    .presentation {
        padding: 4em; 
        font-size: 15px; 
        height: 30vh; 
    }

}