/* Ajustes para telas menores que 1024px */
@media (max-width: 1024px) {
    .navbar {
        font-size: 18px;
        padding: 8px 16px;
    }

    .presentation {
        padding: 10em;
        font-size: 20px;
        height: 70vh;
    }
    
    .eu {
        width: 30%;
    }
    
    .nome {
        font-size: 60px;
    }

    .projetos img {
        width: 70%;
        margin-left: 0;
    }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    .navbar {
        font-size: 16px;
        padding: 6px 12px;
    }
    
    .eu {
        width: 50%;
    }
    
    .nome {
        font-size: 50px;
    }

    .projetos img {
        width: 100%;
        margin-left: 0;
    }
}

/* Ajustes para telas menores que 576px (celulares) */
@media (max-width: 576px) {
    .navbar {
        font-size: 14px;
        padding: 4px 8px;
    }


    .presentation {
        padding: 0;
        font-size: 16px;
        height: 60vh;
    }

    .texto {
        font-size: 16px;
    }
    
    .eu {
        width: 50%;
    }
    
    .nome {
        font-size: 40px;
    }

    .sobre__mim,
    .projetos {
        padding: 2em;
        font-size: 18px;
    }
    
    .projetos img {
        width: 100%;
        margin: 0;
    }

    .contato {
        padding: 2em;
        font-size: 18px;
    }

    .contact-icons {
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        font-size: 12px;
        padding: 10px 0;
    }
}